*{
   
   font-family: 'Open Sans', sans-serif;
}
.span-1{
    font-weight: 900;
    font-size:45px;
}
.span-2{
    text-align: center;
    font-size:20px;
    color: rgb(255, 255, 255);
}
.pra{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top:130px;  
    font-size:34px;
}

#first-benar{
    background-image:url("assianment-1/Banner\ Image.png");
    background-repeat: no-repeat;
    height: 600px;
    width:1220px;
    margin:100px ;
    /* justify-content: center; */
    border-radius: 10px;
    filter:brightness(85%)
}

/* section-2 */

.div-2{
    text-align: center;
}
.off{
    color: rgb(254, 0, 0);
    font-size:45px;
}
.sek-p-2{
    color: rgb(254, 0, 0);
    font-size:20px;
    font-weight: 800;
}
.img{
    margin-top:25px;
}

/* section-3 */

.banar-2{
    background-image:url("assianment-1/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600px;
    width:1220px;
    margin:100px;
    border-radius: 10px;
    display: flex;
}
.sec-3-color{
    color: aliceblue;
    padding-top:120px;
    padding-left:30px;
    padding-bottom:10px;
    
}
.index-img{
    background-repeat: no-repeat;
    width:350px ;
    height:500px ;
    background-position:bottom right;
    padding: 90px 200px;
}
.text-1{
    font-size:50px;
}
.text-2{
    padding-bottom: 60px;
}

.text-3{
    color: aliceblue;
    text-decoration:none;
    padding-left:90px;
    font-size:20px;
    font-weight: 800; 
}
/* section-4 */
.color-div{
    background-color: bisque;
    height: 400px;
    width: 1100px;
    margin:90px auto;
    text-align:center;
    border:7px solid rgb(206, 238, 203);
    border-radius:5px;
}
.font{
    font-size: 32px;
    padding-top: 20px;
    /* display: flex; */
    display: block;
    text-decoration-line:initial;

}
.color{
    color: rgb(255, 0, 0);
}

#jone{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:25px;
    padding:10px 35px;
    background-color:red;
    border-radius:5px;
}
.main-div{
    display: flex;
    justify-content:space-around;
}
.font-6{
    color:red;
    font-size:20px;
}
#pra-div{
    width:25%;
    padding-left:100px;
}
#img-div{
    width:35%;
    /* border:8px solid rgb(36, 64, 55); */
}
#pra-img-div{
    width:20%; 
}
.img-border{
    border:8px solid rgb(194, 0, 0);
    padding:20px;
    border-radius: 210px;
}
.year{
    color: red;
}
/* section-5 */

.caret-div{
   background-position:center;
    margin-top:110px;
    height: 500px;
    display:contents;
}


.five{
    text-align: center;
    margin-top: 150px;
}
#Birthday{
    color: #ff0202;
}
#in-span{
    font-size:45px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-6{
    background-image: url("assianment-1/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-position:right top;
  
}

.back-pro{
   margin-left:800px;
}
.section-7{
    background-image:url("assianment-1/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position:right top;
}
.img-red{   
    margin-left:50px;
    background-position:top left;
}
/* section-6 */
.hed{
    color: #ff0202;
    font-size:17px;
}
.hed-1{
    margin-left:70px;
}
.img-hed-2{
    margin-left:70px;
}
.fot-div{
    width:1290px;
    height:500px;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 120px;
    margin-left:70px;
    border-radius:22px;
}
.input{
    font-size:29px;
    border-radius: 16px;
}
.input-2{
    padding:11px 15px;
    background-color: #ff0202;
    border-radius:9px;
    font-size:18px;
   
}

.p-1{
    margin-left:20px;
    padding:70px;
}
.bot-footer{
    display: flex;
    justify-content: space-between;
    height:250px;
    font-size:16px;
}
.img-teg{
    padding-right:100px;
    padding-top:50px;
}
.bot-footer-1{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.bot-footer-2{
    margin-left:500px;
}
.gp{
   padding-left: 20px; 
}
.lest{
    font-size:20px;
    display: flex;
    justify-content: space-between;
    padding-top:130px;

}
.Unsubscribe{
    margin-left:80px;
    padding-bottom: 40px;
}
.year-19{
    margin-right:50px;
}